.notion-header,
.notion-header .notion-nav-header,
.notion-collection-row {
  @apply hidden;
}

.notion-frame {
  @apply w-[90vw];
}

.notion {
  @apply !bg-transparent;
}

.notion-aside-table-of-contents {
  @apply w-2/3 max-w-[300px] bg-transparent px-4 pb-4;
}

.notion-aside-table-of-contents-header {
  @apply hidden;
}

.notion-table-of-contents-item-body {
  @apply truncate py-[1px];
}

.notion-table-of-contents-active-item span {
  @apply !text-red-500;
}

.notion-page-content img{
    position: static !important;
}

.dark .notion-frame {
  --fg-color: rgba(255, 255, 255, 0.9);
  --fg-color-0: rgba(255, 255, 255, 0.9);
  --fg-color-1: rgba(255, 255, 255, 0.9);
  --fg-color-2: rgba(255, 255, 255, 0.7);
  --fg-color-3: rgba(255, 255, 255, 0.5);
  --fg-color-4: rgba(255, 255, 255, 0.9);
  --fg-color-5: rgba(255, 255, 255, 0.9);
  --fg-color-6: rgba(255, 255, 255, 0.9);
  --fg-color-icon: rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
}

.dark .notion-page-title-text,
.dark .notion-text,
.dark .notion-h1,
.dark .notion-h2,
.dark .notion-h3,
.dark .notion-toggle,
.dark .notion-quote,
.dark .notion-callout,
.dark .notion-bulleted_list,
.dark .notion-numbered_list,
.dark .notion-table-of-contents-item {
  color: rgba(255, 255, 255, 0.9) !important;
}

.dark .notion-inline-code {
  color: #e06c75 !important;
  background: rgba(135, 131, 120, 0.15) !important;
}

.dark .notion-link {
  color: #529cca !important;
}
